.contenedor {
  background-image:url('../../../../assets/Juegos/mapaDelTesoro/fondo.png'); 
    //background: #34495e;
    background-size: cover;
    color: #fff;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction:column;
  }
  
  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  p {
    display: block;
  }

div{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.containerMapa{
  width:70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
h1{
  margin: 20px;
}
h2{
  margin: 20px;
  font-weight: bold;
  font-size:60px;
  color: 'white';
}
.clicks{
  margin:20px;
  font-weight: bold;
  font-size:30px;
  color: 'white';
}
.contenedorJuego{
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-left: 0 !important;
padding-right: 0 !important;
height: 100vh;
width: 100% !important;
}