<div  class=" contenedor">
    
    
    <main class="px-3">
        <img class="mb-4" src="https://picsum.photos/72/57" alt="" width="72" height="57">
      <h1>Herik Arismendy.</h1>
      <p class="lead">Buenos Aires -  2022.</p>
      <p class="lead"> 🇨🇴 </p>
      <h2> Busqueda Del Tesoro</h2>
      <p> El juego consiste en encontrar el tesoro 👑  escondido en el mapa 🗺, se podrá dar inicio a la busqueda clickeando ⬆️ en cualquier lugar del mismo,<br> y asi mismo  se iran dando indicaciones 🧩 para orientar al jugador.🕹 <br> El juego termina cuando es clickeada la posición del tesoro.🏆 </p>
    </main>

  </div>