.contenedorJuego{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 0 !important;
  padding-right: 0 !important;
  height: 100vh;
  width: 100% !important;
}
.contenedorJuegoIniciado{
    background-color:violet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 0 !important;
  padding-right: 0 !important;
  height: 100vh;
  width: 100% !important;
}
.opciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 60% !important;
    height: 50% !important;
}
.opcion{
    margin:5 ;

}